<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>[[${session.userNick}]]的个人主页</title>

    <script th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>

    <script th:src="@{/resources/layui/layui.js}"></script>
    <link th:href="@{/resources/layui/css/layui.css}" rel="stylesheet"/>

    <script th:src="@{/resources/users/js/users.js}"></script>
    <link th:href="@{/resources/users/css/users.css}" rel="stylesheet">

</head>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

    <div class="layui-header" th:replace="~{users/userInfo::top}"></div>
    <div class="layui-side layui-bg-black" th:replace="~{users/userInfo::left}"></div>

    <div class="layui-body">
        我的下载
        <div class="toTop">返回顶部</div>
    </div>

    <!-- 底部固定区域 -->
    <div class="layui-footer">© tdw.photograph.com - 欢迎登录图片网</div>
</div>
</body>
</html>