<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>注册-图片网</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link th:rel="stylesheet" th:href="@{/resources/login/css/font.css}">
    <link th:rel="stylesheet" th:href="@{/resources/login/css/style.css}"/>

</head>

<body>
<h1>欢迎注册-图片网</h1>
<div class="log">
    <div class="content2">
        <h2>注册</h2>
        <p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>

        <form th:action="@{/toRegister}" method="post">
            <input type="text" th:name="username" th:class="username" placeholder="输入账号">
            <input type="password" th:name="password" th:class="password" placeholder="请输入密码">
            <input type="password" th:name="password2" th:class="password2" placeholder="请重复密码">
            <div class="button-row">
                <input type="submit" class="sign-in" value="马上注册">
                <input type="reset" class="reset" value="重置输入">
            </div>
        </form>
        <br/><br/>
        <hr/>
        <a th:href="@{/login}" style="font-size: 30px;">登录</a>

    </div>
    <div class="clear"></div>
</div>
</body>
</html>