.layui-form-item .layui-input-inline {
    margin-right: 0;
}

.active {
    background-color: #dddddd;
    color: #333333;
}

.bt-item {
    height: 60px !important;
    padding: 10px 0;
}

.layui-btn {
    margin: 0 20px;
}